* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
}


body {
    background-color: #fdf9ff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.section-content {
    max-width: 90%;
    margin: 0 auto;
}


textarea:focus,
input:focus {
    outline: none;
}