header {
    width: 100%;
    background-color: #fdf9ff;
    margin-bottom: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-logo-img {
    width: 200px;
    margin: 20px;
    margin-right: 50px;
}

.nav-menu {
    display: flex;
    gap: 50px;
    font-size: 1.3em;
}

.nav-menu a {
    font-family: "Poppins";
    color: #4e4e4e;
    padding: 8px 12px;
    transition: 0.3s ease;
    border-radius: 10px;
}

.nav-menu a:hover {
    font-family: "Poppins";
    background-color: #2b6b9b;
    color: #ffffff;
}
#selected-nav-link a {
    background-color: #2b6b9b;
    color: #ffffff;
}
