.first-section {
    height: 100vh;
    display: flex;
}

.first-section .section-content {
    display: flex;
    flex: 1;
    height: 600px;
}

.details-card {
    flex: 2;
    background-color: #e8ebe6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.first-card-content {
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: "Raleway";
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.search-box {
    height: 50px;
    flex: 1;
    display: flex;
    margin-right: 50px;
    border-radius: 4px;
}

.search-bar {
    flex: 1;
    max-width: 500px;
    width: 0;
    border: none;
    font-size: 1.4em;
    padding: 10px 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.search-btn {
    width: 49px;
    margin-left: -3px;
    background: white;
    border: none;
    padding: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #e9e9e9;
}

.search-btn img {
    width: 100%;
}

.time {
    width: 200px;
    font-size: 1em;
    color: #2d2d2d;
    margin-right: 100px;
    font-weight: 500;
}

.animation-wrapper {
    flex: 1;
    display: flex;
    margin-left: -30px;
    align-items: center;
    justify-content: left;
    z-index:-1;
    border-radius: 20px;
}

.animation {
    height: 100%;
    border-radius: 20px;
}

.second-card-content {
    padding: 20px 30px;
    color: #2b9348;
    font-size: 3em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.current-aqi {
    font-family: "Poppins";
    margin: 8px 0;
}

.current-location {
    color: #4e4e4e;
    font-size: 0.5em;
    font-weight: 500;
}

.current-condition {
    color: #2b9348;
    font-size: 0.5em;
}

.third-card-content {
    flex: 1;
    padding: 15px 20px 20px;
    position: relative;
    min-height: 300px;
}

#myChart {
    width: 100% !important;
    height: 100% !important;
}
